* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, span {
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 30px;
    font-family: Impact;
    font-size: larger;
    color: blue;
    display: flex;
}

.grid {
    width: 700px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 70px;
    height: 50px;
    border: 2px solid black;
}

#cagnotte, #lives {
    width: 50%;
    display: flex;
    background-color: lightgreen;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.perdu {
    background-color: red;
    color: black;
    font-size: medium;
    font-family: Impact;
  }

.Bonusx2 {
    background-color: red;
    color: #57da59;
    font-size: medium;
    font-family: Impact;
}
  
.Bonusx5 {
    background-color: red;
    color: #4199d3;
    font-size: medium;
    font-family: Impact;
}
  
.Bonusx100{
    background-color: red;
    color: #bb41d3;
    font-size: small;
    font-family: Impact;
}
